
extends layout


block content

    h1= title
    h2= head
    
        p
        | 1 #{baseSource} = #{rates}
        p
        | Request timestamp: #{timestamp}
       

        
       
        
        
        
        

        


       

        
        



        

        
        
    

        
         
    
          
                
    
        
            
